@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import '@fontsource/atkinson-hyperlegible';

@theme {
	--font-sans: "Atkinson Hyperlegible";
}

body {
	@apply bg-amber-50 min-h-[100vh] flex flex-col;
}

main {
	@apply h-full;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 0);
	background-size: 100% 2rem;
	background-position: 0 -8.5px;
}

.prose {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		@apply relative;

		/* &:hover {
			@apply underline;
		} */
	}

	h1 {
		@apply underline underline-offset-4 font-serif;
		font-size: 3rem;
		line-height: calc(1 + 2 / 6);
		counter-reset: heading 0;
		margin-bottom: 2rem;
	}

	h2 {
		top: -0.5rem;
		font-size: 2.4rem;
		line-height: calc(2 / 2.4);
		counter-reset: subheading 0;
		counter-increment: heading;
	}

	h3 {
		top: -0.3rem;
		font-size: 1.8rem;
		line-height: calc(2 / 1.8);
		counter-increment: subheading;
	}

	h2::before,
	h3::before {
		@apply absolute w-80 text-right pr-2 text-cyan-700 font-normal font-sans m-auto;
		right: 100%;
	}

	h2::before {
		content: counter(heading);
	}

	h3::before {
		@apply font-medium;
		content: counter(heading) '-' counter(subheading);
	}

	p {
		@apply text-justify hyphens-auto;
		margin-bottom: 2rem;
		line-height: calc(1 + 9 / 11);
		font-size: 1.1rem;
	}
}
