@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import '@fontsource/atkinson-hyperlegible';
@import '@fontsource-variable/national-park';
@import '@fontsource/varela-round';
@import '@fontsource/inter';
@import '@fontsource-variable/jetbrains-mono';

@import './code.css';
@import './colors.css';

@theme {
	--font-sans: 'Inter';
	--font-rounded: 'National Park Variable';
	--font-varela: 'Varela Round';
	--font-mono: 'JetBrains Mono Variable';
}

body {
	@apply bg-surface-200 min-h-[100vh] flex flex-col;
}

main {
	--article-width: var(--container-md);
	--left-padding: calc(50% - var(--article-width) / 2);
	--aside-width: 0;
	@media (width >= 40rem /* sm */) {
		--article-width: var(--container-lg);
	}
	@media (width >= 48rem /* md */) {
		--article-width: var(--container-xl);
		--aside-width: calc(var(--spacing) * 40);
		--left-padding: min(
			calc(50% - var(--article-width) / 2),
			calc(100% - var(--aside-width) - var(--article-width) - var(--spacing) * 4)
		);
	}
	@media (width >= 64rem) {
		--aside-width: calc(var(--spacing) * 56);
		--article-width: var(--container-2xl);
	}
	@media (width >= 72rem) {
		--article-width: var(--container-2xl);
	}
}
main {
	@apply w-full xl:w-6xl bg-surface-100 mx-auto pb-20;
	counter-reset: primary;
}
main > aside:first-of-type {
	@apply absolute right-0 leading-5 h-full;
	width: var(--aside-width);
	@media (width < 48rem /* md */) {
		display: none;
	}
}
main,
main > section {
	@apply !max-w-none;

	h2 {
		padding-left: var(--left-padding);
		counter-increment: primary;
	}
	> :is(h3, h4, h5, h6, p, aside, pre, ul, ol, table, blockquote) {
		max-width: var(--article-width);
		margin-left: var(--left-padding);
	}
	> :is(h2, h3, h4, h5, h6) {
		@apply font-rounded;
	}
	h1 {
		@apply font-varela mt-20;
		text-shadow: 0 3px 0 var(--color-surface-400);
	}
	p:last-child,
	p:has(+ section) {
		margin-bottom: 0 !important;
	}
	@apply prose lg:prose-lg;
	@apply prose-h1:text-center lg:prose-h1:text-6xl prose-h1:text-5xl;
	@apply prose-figure:my-0;
	code:not([class*='language-']) {
		@apply before:content-none after:content-none px-0.5 rounded;
		background-color: var(--color-accent-100);
		color: var(--color-accent-800);
	}
	pre[class*='language-'] {
		@apply border-1 border-surface-800;
		background-color: transparent;
	}
	> :is(ul, ol) > li::marker {
		color: var(--color-accent-300);
	}

	p,
	li,
	blockquote,
	aside {
		@apply hyphens-auto text-justify;
	}

	/* HEADINGS */

	strong,
	b {
		color: var(--color-accent-700);
		text-shadow: 0 1px 0 var(--color-accent-300);
	}
	@media (width >= 40rem /* 640px */) {
		h2::after {
			content: counter(primary);
			width: 1lh;
			left: calc(var(--left-padding) - 1lh - var(--spacing) * 1.5);
			background-color: var(--color-accent-400);
			color: var(--color-accent-100);
			text-shadow: 0 2px 0 var(--color-accent-700);
			@apply inline-block text-center rounded-full absolute;
		}
	}
	h2 {
		text-decoration: underline wavy var(--color-accent-400);
		@apply inline-block pr-[0.5lh] rounded-r-full py-2;
		background-color: var(--color-accent-200);
	}
	/* h2::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100vw;
		height: calc(1lh + var(--spacing) * 4);
		z-index: -1;
	} */

	/* EVERYTHING WITH FIGURES */

	> figure {
		--grid: 2rem;
		@media (width >= 64rem) {
			--grid: 2.5rem;
		}
		@apply relative flex flex-col items-center justify-center;
		@apply border-b-[1px] border-[rgba(0,0,0,0.1)] box-border;

		background-image:
			linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
			linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
		background-size: var(--grid) var(--grid);
		background-position: calc(var(---left-padding) + var(--article-width) / 2 - 1px) 0;
		
		padding-left: var(--left-padding);
		padding-right: calc(100% - var(--left-padding) - var(--article-width));
		
		&::before {
			content: '';
			@apply block top-0 left-0 absolute z-0;
			height: calc(100% + 1px);
			width: var(--left-padding);
			background: linear-gradient(-90deg, transparent, var(--color-surface-100));
		}
		
		&::after {
			content: '';
			@apply block top-0 right-0 absolute z-0;
			height: calc(100% + 1px);
			width: calc(100% - var(--left-padding) - var(--article-width));
			background: linear-gradient(90deg, transparent, var(--color-surface-100));
		}
		
		/* because of the padding, 100% is less than the full width */
		--100: 100vw;
		@media (width >= 80rem /* 1280px */) {
			--100: var(--container-6xl);
		}
		---left-padding: calc(var(--100) / 2 - var(--article-width) / 2);
		@media (width >= 48rem /* md */) {
			---left-padding: min(
				calc(var(--100) / 2 - var(--article-width) / 2),
				calc(var(--100) - var(--aside-width) - var(--article-width) - var(--spacing) * 4)
			);
		}
	}
}
