@import 'tailwindcss';
@plugin '@tailwindcss/typography';

body {
	@apply bg-amber-50 min-h-[100vh] flex flex-col;
}

main {
	@apply h-full;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 0);
	background-size: 100% 2rem;
	background-position: 0 -7px;
}

.prose {
	> * {
		margin: 0 2rem;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
        @apply font-serif;
	}

	h1 {
		font-size: 3rem;
		line-height: calc(1 + 2 / 6);
	}

	p {
		@apply text-justify hyphens-auto;
		margin-bottom: 2rem;
		line-height: calc(1 + 9/11);
		font-size: 1.1rem;
	}
}
