@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import '@fontsource/atkinson-hyperlegible';
@import '@fontsource-variable/national-park';
@import '@fontsource/varela-round';
@import '@fontsource/inter';

@theme {
	--font-sans: 'Inter';
	--font-rounded: 'National Park Variable';
	--color-surface-50: theme('--color-neutral-50');
	--color-surface-100: theme('--color-neutral-100');
	--color-surface-200: theme('--color-neutral-200');
	--color-surface-300: theme('--color-neutral-300');
}

body {
	@apply bg-surface-100 min-h-[100vh] flex flex-col;
}

main {
	@apply w-full !max-w-none;

	> h2,
	> h3,
	> h4,
	> h5,
	> h6,
	> p,
	> aside,
	> pre {
		@apply max-w-md sm:max-w-lg md:max-w-xl lg:max-w-3xl;
		@apply mx-auto;
	}

	@apply prose lg:prose-lg;
	@apply prose-headings:font-rounded;
	@apply prose-h1:text-center lg:prose-h1:text-6xl prose-h1:text-5xl;
	@apply prose-h3:px-4;
	@apply prose-p:hyphens-auto prose-p:text-justify prose-p:px-4;
	@apply prose-figure:my-0;

	> div {
		--grid: 2rem;
		@media (width >= 64rem) {
			--grid: 2.5rem;
		}
		background-image:
			linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
			linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
		background-size: var(--grid) var(--grid);
		background-position: 50% 0;

		padding-top: calc(var(--grid) / 2);
		padding-bottom: calc(var(--grid) / 2 + 1px);
		@apply flex justify-center;

		figure.small {
			height: calc(var(--grid) * 8);

			&:has(> img) {
				> img {
					box-sizing: border-box;
					@apply border-2 border-neutral-900;
					@apply !m-0 object-cover object-center w-full h-full;
				}
			}
		}
	}
}
