@theme {
	--color-surface-100: oklch(97% 0.001 106.424);
	--color-surface-200: oklch(92.3% 0.003 48.717);
	--color-surface-300: oklch(86.9% 0.005 56.366);
	--color-surface-400: oklch(70.9% 0.01 56.259);
	--color-surface-500: oklch(55.3% 0.013 58.071);
	--color-surface-600: oklch(44.4% 0.011 73.639);
	--color-surface-700: oklch(37.4% 0.01 67.558);
	--color-surface-800: oklch(26.8% 0.007 34.298);
	--color-surface-900: oklch(21.6% 0.006 56.043);
}

main {
	--color-accent-100: theme(--color-surface-100);
	--color-accent-200: theme(--color-surface-200);
	--color-accent-300: theme(--color-surface-300);
	--color-accent-400: theme(--color-surface-400);
	--color-accent-500: theme(--color-surface-500);
	--color-accent-600: theme(--color-surface-600);
	--color-accent-700: theme(--color-surface-700);
	--color-accent-800: theme(--color-surface-800);
	--color-accent-900: theme(--color-surface-900);
}
main > section,
main > aside:first-of-type li {
	&:nth-of-type(10n + 1) {
		--color-accent-100: oklch(94.1% 0.03 12.58);
		--color-accent-200: oklch(89.2% 0.058 10.001);
		--color-accent-300: oklch(81% 0.117 11.638);
		--color-accent-400: oklch(71.2% 0.194 13.428);
		--color-accent-500: oklch(64.5% 0.246 16.439);
		--color-accent-600: oklch(58.6% 0.253 17.585);
		--color-accent-700: oklch(51.4% 0.222 16.935);
		--color-accent-800: oklch(45.5% 0.188 13.697);
		--color-accent-900: oklch(41% 0.159 10.272);
	}
	&:nth-of-type(10n + 2) {
		--color-accent-100: theme(--color-orange-100);
		--color-accent-200: theme(--color-orange-200);
		--color-accent-300: theme(--color-orange-300);
		--color-accent-400: theme(--color-orange-400);
		--color-accent-500: theme(--color-orange-500);
		--color-accent-600: theme(--color-orange-600);
		--color-accent-700: theme(--color-orange-700);
		--color-accent-800: theme(--color-orange-800);
		--color-accent-900: theme(--color-orange-900);
	}
	&:nth-of-type(10n + 3) {
		--color-accent-100: theme(--color-yellow-100);
		--color-accent-200: theme(--color-yellow-200);
		--color-accent-300: theme(--color-yellow-300);
		--color-accent-400: theme(--color-yellow-400);
		--color-accent-500: theme(--color-yellow-500);
		--color-accent-600: theme(--color-yellow-600);
		--color-accent-700: theme(--color-yellow-700);
		--color-accent-800: theme(--color-yellow-800);
		--color-accent-900: theme(--color-yellow-900);
	}
	&:nth-of-type(10n + 4) {
		--color-accent-100: theme(--color-lime-100);
		--color-accent-200: theme(--color-lime-200);
		--color-accent-300: theme(--color-lime-300);
		--color-accent-400: theme(--color-lime-400);
		--color-accent-500: theme(--color-lime-500);
		--color-accent-600: theme(--color-lime-600);
		--color-accent-700: theme(--color-lime-700);
		--color-accent-800: theme(--color-lime-800);
		--color-accent-900: theme(--color-lime-900);
	}
	&:nth-of-type(10n + 5) {
		--color-accent-100: theme(--color-green-100);
		--color-accent-200: theme(--color-green-200);
		--color-accent-300: theme(--color-green-300);
		--color-accent-400: theme(--color-green-400);
		--color-accent-500: theme(--color-green-500);
		--color-accent-600: theme(--color-green-600);
		--color-accent-700: theme(--color-green-700);
		--color-accent-800: theme(--color-green-800);
		--color-accent-900: theme(--color-green-900);
	}
	&:nth-of-type(10n + 6) {
		--color-accent-100: theme(--color-teal-100);
		--color-accent-200: theme(--color-teal-200);
		--color-accent-300: theme(--color-teal-300);
		--color-accent-400: theme(--color-teal-400);
		--color-accent-500: theme(--color-teal-500);
		--color-accent-600: theme(--color-teal-600);
		--color-accent-700: theme(--color-teal-700);
		--color-accent-800: theme(--color-teal-800);
		--color-accent-900: theme(--color-teal-900);
	}
	&:nth-of-type(10n + 7) {
		--color-accnet-100: theme(--color-sky-100);
		--color-accnet-200: theme(--color-sky-200);
		--color-accnet-300: theme(--color-sky-300);
		--color-accnet-400: theme(--color-sky-400);
		--color-accnet-500: theme(--color-sky-500);
		--color-accnet-600: theme(--color-sky-600);
		--color-accnet-700: theme(--color-sky-700);
		--color-accnet-800: theme(--color-sky-800);
		--color-accnet-900: theme(--color-sky-900);
	}
	&:nth-of-type(10n + 8) {
		--color-accent-100: theme(--color-indigo-100);
		--color-accent-200: theme(--color-indigo-200);
		--color-accent-300: theme(--color-indigo-300);
		--color-accent-400: theme(--color-indigo-400);
		--color-accent-500: theme(--color-indigo-500);
		--color-accent-600: theme(--color-indigo-600);
		--color-accent-700: theme(--color-indigo-700);
		--color-accent-800: theme(--color-indigo-800);
		--color-accent-900: theme(--color-indigo-900);
	}
	&:nth-of-type(10n + 9) {
		--color-accent-100: theme(--color-purple-100);
		--color-accent-200: theme(--color-purple-200);
		--color-accent-300: theme(--color-purple-300);
		--color-accent-400: theme(--color-purple-400);
		--color-accent-500: theme(--color-purple-500);
		--color-accent-600: theme(--color-purple-600);
		--color-accent-700: theme(--color-purple-700);
		--color-accent-800: theme(--color-purple-800);
		--color-accent-900: theme(--color-purple-900);
	}
	&:nth-of-type(10n) {
		--color-accent-100: theme(--color-pink-100);
		--color-accent-200: theme(--color-pink-200);
		--color-accent-300: theme(--color-pink-300);
		--color-accent-400: theme(--color-pink-400);
		--color-accent-500: theme(--color-pink-500);
		--color-accent-600: theme(--color-pink-600);
		--color-accent-700: theme(--color-pink-700);
		--color-accent-800: theme(--color-pink-800);
		--color-accent-900: theme(--color-pink-900);
	}
}
